/* Mengatur background page */
.login-page {
    background-image: url('../../../img/foto-kantor.jpeg'); /* Ganti dengan path gambar background */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Mengarahkan ke kanan */
    padding-right: 100px; /* Beri jarak dari tepi kanan */
}

/* Styling container utama */
.login-container {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

/* Styling judul dan logo */
.logo {
    background-image: url('../../../img/logo-bea-cukai.png');
    background-repeat: no-repeat;
    background-size: contain ;
    background-position: center;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border: none; /* Menghapus border */
    outline: none; /* Menghapus outline */
    display: inline-block;
    box-shadow: none; /* Menghapus bayangan (jika ada) */
}

.login-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.login-card p {
    font-size: 1rem;
    margin-bottom: 20px;
}

/* Styling input dan button */

.forgot-password {
    display: block;
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: #333;
    text-decoration: none;
}

.login-button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .login-page {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 0;
    }
}

@media (max-width: 480px) {
    .login-page {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 0;
    }
}
