.grid-container {
    display: grid;
    grid-template-areas: 
      "one-three area-2"
      "one-three area-3"
      "area-4 area-5";
    grid-template-columns: 1fr 1fr; /* Dua kolom seimbang */
    grid-template-rows: auto; /* Menyesuaikan tinggi card */
    gap: 30px;
    padding: 30px 50px 10px 50px;
  }
  
  .card {
    margin: 20px;
    padding: 0;
  }
  
  /* Tambahkan card tambahan (selengkapnya) */
  .more-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dua kolom otomatis untuk card tambahan */
    grid-auto-rows: minmax(150px, auto); /* Tinggi card menyesuaikan konten */
    gap: 30px;
    padding: 30px 50px 10px 50px;
  }
  
  /* Tombol Selengkapnya & Sembunyikan */
  .toggle-button {
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
  }
  
  /* Responsiveness */
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-areas:
        "one-three"
        "area-2"
        "area-3"
        "area-4"
        "area-5";
      padding: 10px;
    }
    
    .more-cards {
      grid-template-columns: 1fr;
      padding: 10px;
    }
  }

  @media (max-width: 480px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-areas:
        "one-three"
        "area-2"
        "area-3"
        "area-4"
        "area-5";
    }
    
    .more-cards {
      grid-template-columns: 1fr;
    }
  }
  